# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries (on Mac/Linux)
apps/permutation/strperm/strperm
bits/swap/swap
bits/population/population
graph/bmm/bmm
number/fibonacci/fibonacci
number/prime/prime
recursion/toh/toh
sort/insertsort/insertsort
sort/quicksort/quicksort
struct/heap/heap
struct/prioqueue/prioqueue

