# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries (on Mac/Linux)

apps/array/unique/unique
apps/array/checkperm/checkperm
apps/array/distinctelem/distinctelem
apps/array/maxsum/maxsum
apps/array/oneaway/oneaway
apps/array/urlify/urlify
apps/array/palindromeperm/palindromeperm
apps/dynamicprog/jumpball/jumpball
apps/dynamicprog/lrucache/lrucache
apps/histvolume/histvolume
apps/linkedlist/palindrome/palindrome
apps/linkedlist/intersect/intersect
apps/permutation/bracket/bracket
apps/permutation/rot13reader/rot13reader
apps/permutation/strperm/strperm
apps/tree/equitree/equitree
bits/bitmagic/bitmagic
bits/swap/swap
bits/population/population
graph/bmm/bmm
number/fibonacci/fibonacci
number/poorman/poorman
number/prime/prime
recursion/toh/toh
sort/countsort/countsort
sort/heapsort/heapsort
sort/insertsort/insertsort
sort/mergesort/mergesort
sort/orderstat/quickselect/quickselect
sort/quicksort/quicksort
sort/selectsort/selectsort
struct/heap/heap
struct/list/traverse/traverse
struct/prioqueue/prioqueue

apps/linkedlist/loopdetect/loopdetect
apps/stackqueue/threeinone/threeinone
apps/stackqueue/stackmin/stackmin
apps/stackqueue/setofstacks/setofstacks
apps/stackqueue/stackqueue/stackqueue
apps/stackqueue/sortstack/sortstack
apps/stackqueue/animalshelter/animalshelter
